<!DOCTYPE html>
<html lang="ro">
  <head>
    <%- include('fragments/head'); -%>
  </head>

  <body>
    <header id="header">
      <p>Tutorial Concepte geometrice in grafica pe calculator</p>
    </header>

    <div id="container">
      <main id="center" class="column">
        <article>
          <h1>Header</h1>
          <p>Curs9</p>
        </article>
      </main>

      <%- include('fragments/left_column'); -%>

      <div id="right" class="column">
        <h3>Right heading</h3>
        <p>Right column</p>
      </div>
    </div>

    <div id="footer-wrapper">
      <footer id="footer">
        <p>Copyright 2k21</p>
      </footer>
    </div>
  </body>
</html>
