<!DOCTYPE html>
<html lang="ro">
  <head>
    <%- include('fragments/head'); -%>
  </head>

  <body>
    <header id="header">
      <p>Tutorial Concepte geometrice in grafica pe calculator</p>
    </header>

    <div id="container">
      <main id="center" class="column">
        <article>
          <h1>Curs 1</h1>
          <h2>Aplicatii în care sunt necesare cunostințe legate de grafică:</h2>
          <ul>
            <li>
              <strong>Filme</strong> - Pixar, Walt Disney Animation Studios,
              Warner Bros Animation
              <br />
              <img src="c1i1.jpg" alt="PixarCars" />
              <img src="c1i2.jpg" alt="PixarMU" />
            </li>
            <li>
              <strong>Dezvoltarea de jocuri</strong> - Nintendo, EA, Sony
              Computer Entertainment, Ubisoft
            </li>
            <li><strong>Imagistică medicală</strong></li>
          </ul>
          <hr />

          <h2>Abordări posibile in crearea de aplicații:</h2>
          <p>I. Background + dezvoltare "low level"(de exemplu OpenGL)</p>
          <img
            src="c1i3.jpg"
            alt="RealTimeGraphicsInPixarFilmProduction"
            width="50%"
            height="40%"
          />
          <a
            href="https://www.iamag.co/real-time-graphics-in-pixar-film-production/"
            target="blank"
            ><br />Sursa</a
          >

          <p>II. Tehnologii dedicate (aka game engines)</p>
          <img src="c1i4.jpg" alt="UnityGameEngine" width="50%" height="40%" />
          <a href="https://unity.com/madewith/sonder" target="blank"
            ><br />Sursa</a
          >

          <h2>Teme care vor fi abordate la curs și laborator:</h2>
          <ul>
            <li>Primitive grafice</li>
            <li>Transformări</li>
            <li>Texturare</li>
            <li>Reprezentarea scenelor 3D</li>
            <li>Iluminare</li>
            <li>Efecte vizuale</li>
            <li>
              <strong>Ideal:</strong> la final să puteți să dezvoltați o
              aplicație complexă 3D
            </li>
          </ul>
        </article>
      </main>

      <%- include('fragments/left_column'); -%>

      <div id="right" class="column">
        <%- include('fragments/right_column'); -%>
      </div>
    </div>

    <div id="footer-wrapper"><%- include('fragments/footer'); -%></div>
  </body>
</html>
