<!DOCTYPE html>
<html lang="ro">
  <head>
    <%- include('fragments/head'); -%>
  </head>

  <body>
    <header id="header">
      <p>Tutorial Concepte geometrice in grafica pe calculator</p>
    </header>

    <div id="container">
      <main id="center" class="column">
        <article>
          <h1>Introducere in OpenGL</h1>
          <p>
            Bine ati venit la cursul de Concepte geometrice in grafica pe
            calculator.<br/> In urmatoarele cursuri vom invata bazele folosirii
            api-ului OpenGL modern (core profile).
          </p>
            <p> Vom incepe de la simpla
            desenare a unui triunghi la redarea(rendering) unei scene 3D
            complexe (cu iluminare, texturare, miscare etc.) .
            <br />
            </p>
          </p>
        </article>
      </main>

      <%- include('fragments/left_column'); -%>

      <div id="right" class="column">
        <h3>Right heading</h3>
        <p>Right column</p>
      </div>
    </div>

    <div id="footer-wrapper">
      <footer id="footer">
        <p>Copyright 2k21</p>
      </footer>
    </div>
  </body>
</html>
