<!DOCTYPE html>
<html lang="ro">
  <head>
    <%- include('fragments/head'); -%>
  </head>

  <body>
    <header id="header">
      <p>Concepte geometrice in grafica pe calculator</p>
    </header>

    <div id="container">
      <main id="center" class="column">
        <article>
          <h1>Program</h1>
          <p>
            <strong>Curs:</strong> (M.S. Stupariu: stupariu@fmi.unibuc.ro,
            mihai.stupariu@unibuc.ro)
          </p>
          <p><strong>Laborator:</strong> (2h la 2 săptămâni)</p>

          <p>
            Desfasurare curs <br />
            Cursul va avea loc pe platforma: ...
          </p>
          <h2>Mod de notare</h2>
          <p><strong>Punctaj:</strong></p>
          <ul>
            <li><strong>10p:</strong> oficiu</li>
            <li>
              <strong>50p:</strong> laborator, temele sunt descrise in sectiunea
              dedicata
            </li>
            <li>
              <strong>40p:</strong> verificare (ultima saptamana de curs) +
              testari intermediare
            </li>
            <p>
              Pentru prezenta la curs (<strong>0.5</strong> puncte/prezenta) se
              poate primi un bonus de maxim <strong>5p</strong>. De asemenea, la
              curs vor mai fi acordate bonificatii. Nota finala se obtine
              impartind punctajul la 10 si rotunjind.
            </p>
          </ul>
        </article>
      </main>

      <%- include('fragments/left_column'); -%>

      <div id="right" class="column">
        <%- include('fragments/right_column'); -%>
      </div>
    </div>

    <div id="footer-wrapper"><%- include('fragments/footer'); -%></div>
  </body>
</html>
