<!DOCTYPE html>
<html lang="ro">
  <head>
    <%- include('fragments/head'); -%>
  </head>

  <body>
    <header id="header">
      <p>Tutorial Concepte geometrice in grafica pe calculator</p>
    </header>

    <div id="container">
      <main id="center" class="column">
        <article>
          <h1>Header</h1>
          <p>Laborator5</p>
        </article>
      </main>

      <nav id="left" class="column">
        <ul>
          <li><a href="/">Home</a></li>
        </ul>
        <h3>Cursuri</h3>
        <ul>
          <li><a href="curs1">Curs 1</a></li>
          <li><a href="curs2">Curs 2</a></li>
          <li><a href="curs3">Curs 3</a></li>
          <li><a href="curs4">Curs 4</a></li>
          <li><a href="curs5">Curs 5</a></li>
          <li><a href="curs6">Curs 6</a></li>
          <li><a href="curs7">Curs 7</a></li>
          <li><a href="curs8">Curs 8</a></li>
          <li><a href="curs9">Curs 9</a></li>
          <li><a href="curs10">Curs 10</a></li>
          <li><a href="curs11">Curs 11</a></li>
          <li><a href="curs12">Curs 12</a></li>
          <li><a href="curs13">Curs 13</a></li>
          <li><a href="curs14">Curs 14</a></li>
        </ul>
        <h3>Laboratoare</h3>
        <ul>
          <li><a href="lab1">Laborator 1</a></li>
          <li><a href="lab2">Laborator 2</a></li>
          <li><a href="lab3">Laborator 3</a></li>
          <li><a href="lab4">Laborator 4</a></li>
          <li><a href="lab5">Laborator 5</a></li>
          <li><a href="lab6">Laborator 6</a></li>
          <li><a href="lab7">Laborator 7</a></li>
          <li><a href="lab8">Laborator 8</a></li>
          <li><a href="lab9">Laborator 9</a></li>
          <li><a href="lab10">Laborator 10</a></li>
          <li><a href="lab11">Laborator 11</a></li>
          <li><a href="lab12">Laborator 12</a></li>
          <li><a href="lab13">Laborator 13</a></li>
          <li><a href="lab14">Laborator 14</a></li>
        </ul>
      </nav>

      <div id="right" class="column">
        <h3>Right heading</h3>
        <p>Right column</p>
      </div>
    </div>

    <div id="footer-wrapper">
      <footer id="footer">
        <p>Copyright 2k21</p>
      </footer>
    </div>
  </body>
</html>
