<!DOCTYPE html>
<html lang="ro">
  <head>
    <%- include('fragments/head'); -%>
  </head>

  <body>
    <header id="header">
      <p>Tutorial Concepte geometrice in grafica pe calculator</p>
    </header>

    <div id="container">
      <main id="center" class="column">
        <article>
          <h1>Bibliografie / Referințe</h1>
          <p>
            1. G. Albeanu, Grafica pe calculator. Algoritmi fundamentali,
            Editura Universitatii din Bucuresti, 2001.
          </p>

          <p>
            2. W. Boehm, H. Prautzsch, Geometric Concepts for Geometric Design,
            AK Peters, Wellesley, 1994.
          </p>

          <p>
            3. J. Foley, A. van Dam, S. Feiner si J. Hughes, Computer Graphics:
            Principles and Practice (2nd edition in C) , Addison Wesley, 1995.
          </p>

          <p>
            4. D. Eck,
            <a href="http://math.hws.edu/graphicsbook/index.html"
              >Introduction to Computer Graphics</a
            >
            .
          </p>

          <p>
            5. P. Schneider, D. Eberly, Geometric Tools for Computer Graphics,
            Morgan Kaufmann, 2003.
          </p>
          <hr />

          <p>
            1. R. Baciu, Programarea aplicatiilor grafice 3D cu OpenGL , Editura
            Albastra, 2005.
          </p>

          <p>
            2. D. Hearn, M. Baker, Computer Graphics with OpenGL, Prentice Hall,
            2003.
          </p>

          <p>
            3. G. Sellers, R. S. Wright Jr., N. Haemel,
            <a href="http://www.openglsuperbible.com/" target="blank"
              >OpenGL: SuperBible Comprehensive Tutorial and Reference</a
            >. , 7th edition, Addison-Wesley, 2015.
          </p>

          <p>
            4. J. Kessenich, D. Shreiner, G. Sellers,
            <a href="http://www.opengl-redbook.com/" target="blank"
              >OpenGL Programming Guide</a
            >
            (9th edition), Addison Wesley, 2016.
          </p>
          <hr />

          <p>
            1.
            <a href="https://www.opengl.org/" target="blank"
              >Site-ul oficial OpenGL</a
            >.
          </p>

          <p>
            2. Alte tutoriale online:
            <a href="https://learnopengl.com/" target="blank">Learn OpenGL</a>,
            <a href="http://www.opengl-tutorial.org/" target="blank"
              >OpenGL-tutorial</a
            >,
            <a href="https://www.khronos.org/opengl/wiki/Getting_Started"
              >OpenGL Wiki</a
            >
            getting started.
          </p>
        </article>
      </main>

      <%- include('fragments/left_column'); -%>

      <!--<div id="right" class="column">
        <%- include('fragments/right_column'); -%>
      </div>-->
    </div>

    <div id="footer-wrapper"><%- include('fragments/footer'); -%></div>
  </body>
</html>
